.description {
  font-weight: 600;
  padding: 8rem 8rem;
}
.title {
  font-weight: 700;
  padding: 5rem 5rem;
}

body {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  justify-content: center;
}
